<h5>Keep updated</h5>
<p>Enter your email to subcribe newsletter</p>
<!--
<form>
  <div class="input-append">
    <input class="span2" id="appendedInputButton" type="text">
    <button class="btn btn-color" type="submit">Subscribe</button>
  </div>
</form>
-->
<ul class="social-network">
  <li>
      <a href="https://github.com/quanteda/"><i class="icon-bg-light icon-github icon-circled icon-1x"></i></a>
  </li>
  <li>
      <a href="https://www.youtube.com/channel/UC0xc75IqmteIlp-i2vjKWFg"><i class="icon-bg-light icon-youtube icon-circled icon-1x"></i></a>
  </li>
  <li>
      <a href="https://twitter.com/textasdata" title="Twitter"><i class="icon-bg-light icon-twitter icon-circled icon-1x"></i></a>
  </li>
</ul>