<h5>Keep updated</h5>
<p>Enter your email to subcribe newsletter</p>
<form>
  <div class="input-append">
    <input class="span2" id="appendedInputButton" type="text">
    <button class="btn btn-color" type="submit">Subscribe</button>
  </div>
</form>
<ul class="social-network">
  <li>
      <a href="#"><i class="icon-bg-light icon-github icon-circled icon-1x"></i></a>
  </li>
  <li>
      <a href="#"><i class="icon-bg-light icon-facebook icon-circled icon-1x"></i></a>
  </li>
  <li>
      <a href="#" title="Twitter"><i class="icon-bg-light icon-twitter icon-circled icon-1x"></i></a>
  </li>
</ul>