 <footer class="footer">
    <div class="container">
      <div class="row">
          <div class="span2">
          <div class="widget">
            {{ partial "widgets/supporter.html" . }}  
          </div>  
        </div>
        <div class="span3">
          <div class="widget">
          {{ partial "widgets/address.html" . }}
          </div>
        </div>
        <div class="span5">
          <div class="widget">
          {{ partial "widgets/news.html" . }}
          </div>
        </div>
        <div class="span2">
          <div class="widget">
            {{ partial "widgets/subscribe.html" . }}  
          </div>
        </div>
      </div>
    </div>
    <div class="subfooter">
      <div class="container">
        <div class="row">
          <div class="span12">
            <p>
              &copy; 2018 Quanteda Initiative - All rights reserved
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="{{ "js/jquery.js" | relURL }}"></script>
  <script src="{{ "js/modernizr.js" | relURL }}"></script>
  <script src="{{ "js/jquery.easing.1.3.js" | relURL }}"></script>
  <script src="{{ "js/google-code-prettify/prettify.js" | relURL }}"></script>
  <script src="{{ "js/bootstrap.js" | relURL }}"></script>
  <script src="{{ "js/jquery.prettyPhoto.js" | relURL }}"></script>
  <script src="{{ "js/portfolio/jquery.quicksand.js" | relURL }}"></script>
  <script src="{{ "js/portfolio/setting.js" | relURL }}"></script>
  <script src="{{ "js/hover/jquery-hover-effect.js" | relURL }}"></script>
  <script src="{{ "js/jquery.flexslider.js" | relURL }}"></script>
  <script src="{{ "js/classie.js" | relURL }}"></script>
  <script src="{{ "js/cbpAnimatedHeader.min.js" | relURL }}"></script>
  <script src="{{ "js/jquery.refineslide.js" | relURL }}"></script>
  <script src="{{ "js/jquery.ui.totop.js" | relURL }}"></script>
  <script src="{{ "js/custom.js" | relURL }}"></script>
  </body>
</html>
