<meta charset="utf-8">
{{ if eq .URL "/" }}
  <title>{{ .Title }}</title>
{{ else }}
  <title>{{ .Title }} – {{ .Site.Title }}</title>
{{ end }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Quanteda Initiative is a UK non-profit organization devoted to the promotion of open-source text analysis software.">
<meta name="author" content="">
<!-- Google Search Console Verification-->
<meta name="google-site-verification" content="oCYb6MkLG2rgsldk7UJG09N09_zPuQOhRRcUBgj_DpQ" />

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144616-23"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-144616-23');
</script>
<!-- styles -->
<link href="{{ "css/bootstrap.css" | relURL }}" rel="stylesheet">
<link href="{{ "css/bootstrap-responsive.css" | relURL }}" rel="stylesheet">
<link href="{{ "css/docs.css" | relURL }}" rel="stylesheet">
<link href="{{ "css/prettyPhoto.css" | relURL }}" rel="stylesheet">
<link href="{{ "js/google-code-prettify/prettify.css" | relURL }}" rel="stylesheet">
<link href="{{ "css/flexslider.css" | relURL }}" rel="stylesheet">
<link href="{{ "css/refineslide.css" | relURL }}" rel="stylesheet">
<link href="{{ "css/font-awesome.css" | relURL }}" rel="stylesheet">
<link href="{{ "css/animate.css" | relURL }}" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700" rel="stylesheet">

<link href="{{ "css/style.css" | relURL }}" rel="stylesheet">
<link href="{{ "color/quanteda.css" | relURL }}" rel="stylesheet">

<!-- fav and touch icons -->
<link rel="shortcut icon" href="/ico/apple-touch-icon.png" type="image/png" />
<link rel="apple-touch-icon" href="/ico/apple-touch-icon.png" />
