<div class="row">
  <div class="span4">
    <div class="features">
    	<div class="icon">
    	  <i class="icon-bg-light icon-circled icon-code icon-3x active"></i>
    	</div>
    	<div class="features_content">
    	  <h3>Software</h3>
    	  <p class="left">
    		A collection of R packages for the quantitative analysis of textual data, built around quanteda.
    	  </p>
    	  <a href="/projects/" class="btn btn-color btn-rounded"><i class="icon-angle-right"></i> Read more</a>
    	</div>
      </div>
    </div>
    <div class="span4">
      <div class="features">
    	<div class="icon">
    	  <i class="icon-bg-dark icon-circled fa-calendar icon-3x"></i>
    	</div>
    	<div class="features_content">
    	  <h3>Events</h3>
    	  <p class="left">
    		Workshops, conferences, and training events for quantitative text analysis.
    	  </p>
    	  <a href="#" class="btn btn-color btn-rounded"><i class="icon-angle-right"></i> Read more</a>
    	</div>
      </div>
    </div>
    <div class="span4">
      <div class="features">
    	<div class="icon">
    	  <i class="icon-bg-dark icon-circled fa fa-graduation-cap icon-3x"></i>
    	</div>
    	<div class="features_content">
    	  <h3>Learning resources</h3>
    	  <p class="left">
    		 Tutorials on quantitative text analysis using quanteda.
    	  </p>
    	  <a href="https://tutorials.quanteda.io/" class="btn btn-color btn-rounded"><i class="icon-angle-right"></i> Read more</a>
    	</div>
      </div>
    </div>
  </div>
  <!-- blank divider -->
  <div class="row">
  <div class="span12">
    <div class="blank10"></div>
  </div>
  </div>
  
  <div class="row">
  <div class="span6">
    {{ partial "widgets/testimonials.html" . }}
  </div>
  <div class="span6">
    {{ partial "widgets/clients.html" . }}
  </div>
</div>

