<div class="row">
    <div class="span4">
      <div class="features">
    	<div class="icon">
    	  <i class="icon-bg-light icon-circled icon-code icon-4x active"></i>
    	</div>
    	<div class="features_content">
    	  <h3>Valid Coding</h3>
    	  <p class="left">
    		Dolorem adipiscing definiebas ut nec. Dolore consectetuer eu vim, elit molestie ei has, petentium imperdiet in pri mel virtute nam.
    	  </p>
    	  <a href="#" class="btn btn-color btn-rounded"><i class="icon-angle-right"></i> Read more</a>
    	</div>
      </div>
    </div>
    <div class="span4">
      <div class="features">
    	<div class="icon">
    	  <i class="icon-bg-dark icon-circled icon-bug icon-4x"></i>
    	</div>
    	<div class="features_content">
    	  <h3>Bug free</h3>
    	  <p class="left">
    		Dolorem adipiscing definiebas ut nec. Dolore consectetuer eu vim, elit molestie ei has, petentium imperdiet in pri mel virtute nam.
    	  </p>
    	  <a href="#" class="btn btn-color btn-rounded"><i class="icon-angle-right"></i> Read more</a>
    	</div>
      </div>
    </div>
    <div class="span4">
      <div class="features">
    	<div class="icon">
    	  <i class="icon-bg-dark icon-circled icon-android icon-4x"></i>
    	</div>
    	<div class="features_content">
    	  <h3>Mobile ready</h3>
    	  <p class="left">
    		Dolorem adipiscing definiebas ut nec. Dolore consectetuer eu vim, elit molestie ei has, petentium imperdiet in pri mel virtute nam.
    	  </p>
    	  <a href="#" class="btn btn-color btn-rounded"><i class="icon-angle-right"></i> Read more</a>
    	</div>
      </div>
    </div>
    
    </div>
    
    <!-- blank divider -->
    <div class="row">
    <div class="span12">
      <div class="blank10"></div>
    </div>
    </div>
    
    <div class="row">
    <div class="span6">
      {{ partial "widgets/testimonials.html" . }}
      <div class="blank"></div>
      {{ partial "widgets/clients.html" . }}
    </div>
    
    <div class="span6">
      <h4>Our services</h4>
      <!-- start: Accordion -->
      <div class="accordion" id="accordion2">
    	<div class="accordion-group">
    	  <div class="accordion-heading">
    		<a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
    						<i class="icon-caret-down"></i> Social media optimization </a>
    	  </div>
    	  <div id="collapseOne" class="accordion-body collapse in">
    		<div class="accordion-inner">
    		  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
    		  on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
    		  raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    		</div>
    	  </div>
    	</div>
    	<div class="accordion-group">
    	  <div class="accordion-heading">
    		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
    						<i class="icon-caret-right"></i> Web design and development </a>
    	  </div>
    	  <div id="collapseTwo" class="accordion-body collapse">
    		<div class="accordion-inner">
    		  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
    		  on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
    		  raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    		</div>
    	  </div>
    	</div>
    	<div class="accordion-group">
    	  <div class="accordion-heading">
    		<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
    						<i class="icon-caret-right"></i> Business strategy and management </a>
    	  </div>
    	  <div id="collapseThree" class="accordion-body collapse">
    		<div class="accordion-inner">
    		  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
    		  on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
    		  raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    		</div>
    	  </div>
    	</div>
      </div>
      <!--end: Accordion -->
    </div>
</div>

