<section id="intro">
    <div class="container">
      <div class="row">
        <div class="span6">
          <h2>Welcome to Quanteda Initiative</h2>
          <p class="lead">Based in London, the Quanteda Initiative is a UK non-profit organization devoted to the promotion of open-source text analysis software.</p>
          <a class="btn btn-large btn-rounded btn-color" href="/about"><i class="icon-chevron-right"></i> Learn more</a>
          <div class="blank10"></div>
        </div>
        <div class="span6">

          <div class="group section-wrap upper" id="upper">
            <div class="section-2 group">
              <ul id="images" class="rs-slider">
                <li class="group">
                  <a href="#"><img src="img/slides/wordcloud.png" alt="" /></a>
                </li>
                <li class="group">
                  <a href="#"><img src="img/slides/cross-platform.png" alt=""/></a>
                </li>
              </ul>
            </div>
            <!-- /.section-2 -->
          </div>

        </div>
      </div>
    </div>
</section>
