<section id="intro">
    <div class="container">
      <div class="row">
        <div class="span6">
          <h2>Welcome to Quanteda Initiative</h2>
          <p class="lead">
            Lorem ipsum dolor sit amet, qui corpora oportere cu. Usu et iudico maluisset, pro ut lobortis vituperatoribus, percipit aliquando efficiendi est ex.
          </p>
          <ul class="list list-ok strong bigger">
            <li>100% Compatible with twitter bootstrap</li>
            <li>Valid HTML5 code and well structured</li>
            <li>Really updatable and easy to customize</li>
          </ul>

        </div>
        <div class="span6">

          <div class="group section-wrap upper" id="upper">
            <div class="section-2 group">
              <ul id="images" class="rs-slider">
                <li class="group">
                  <a href="#"><img src="img/slides/wordcloud.png" alt="" /></a>
                </li>
                <li class="group">
                  <a href="#"><img src="img/slides/cross-platform.png" alt=""/></a>
                </li>
              </ul>
            </div>
            <!-- /.section-2 -->
          </div>

        </div>
      </div>
    </div>
</section>
